<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:pd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简单登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="container">
    <div class="row text-center center"  style="padding-top: 20px" >
        <div class="col-sm-12" >
            <h1 class="label label-info text-center center" id="info" style="font-size: 20px"></h1>
        </div>
    </div>

</body>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="false" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ></h4>
                <label id="hidden_id" hidden></label>
            </div>
            <div class="modal-body" id="confirmModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelModalBtn">关闭</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" id="confirmModalBtn">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.1.1.min.js" ></script>
<script src="/js/bootstrap.js" ></script>
<script >
    $(function () {
        var username = localStorage.getItem("username");
        if (username == null || username == undefined) {
            $('#confirmModalBody').text("你还未登录哦" + "^_^");
            $('#confirmModal').modal('show');
            return ;
        }
        $('#info').text("欢迎您：" + username);
    })
</script>
</html>
